@import 'bootstrap/scss/bootstrap';
@import 'react-toastify/scss/main';
@import 'toastify';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.bold-font {
    font-weight: bold;
}

.light-weight-font {
    font-weight:400;
}


.mapBox {
    position: absolute;
    z-index: -1;
}

.tipsform {
    position: absolute;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(
        180deg,
        transparent 0%,
        rgba(8, 7, 7, 0.5) 90%
    )
}

.bg-light-green {
    background-color: #c2e4cc;
}

.bg-pink {
    background-color: #ee6493;
}

.bg-light-pink {
    background-color: #fce8e7;
}

.bg-orange {
    background-color: #ee9682;
}

.navbar {
    background-color: #ee9682 !important;
    box-shadow: 0 0 10px 0 #5a1b0e;
    .navbar-brand {
        color: #5a1b0e;
        font-weight: 00;
    }
}

/* .searchBoxWrapper {
    width: 30vw;
    background-color: #ee9682;
    .searchBox {
        position: sticky; // fixa så sökboxen inte åker upp under headern 
    }
} */

.searchBoxWrapper {
    position: fixed;
    width: 30%;
    height: 100%;
    max-width: 30%; 
    overflow: auto;
    background-color: #ee9682;
    .searchBox {
        position: sticky; // fixa så sökboxen inte åker upp under headern 
    }
}

.resultsList {
    position: sticky;
    /* left: 0;
    top: 100%; */
    width: auto;
    height: 100%;
    max-width: 100%; 
    overflow: auto;
}

.searchBoxWrapperMobile {
    width: 100vw;
    background-color: #ee9682;
    .searchBox {
        position: sticky; // fixa så sökboxen inte åker upp under headern 
    }
}

.resultsListMobile {
    position: fixed;
    /* left: 0;
    top: 100%; */
    width: 100%;
    height: auto;
    max-height: 40%; 
    overflow: auto;
}


#example-collapse-text {
    width: 300px;
}